<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <!--<link rel="stylesheet" href="/static/styles.css">-->
</head>
<body>
    <header>
        <!-- Contenido default pagina -->
        <!-- <h1>Mi Proyecto</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/admin/">Admin</a>
        </nav> -->
        {% include "includes/header.html" %}
    </header>

    <main>
        {% block content %}

        {% endblock %} 
    </main>

    <footer>
        <!-- <p>&copy; 2025 - Todos los derechos reservados.</p> -->
        {% include "includes/footer.html" %}
    </footer>
</body>
</html>
